{{ template "head" . }}
<!-- crop rotation? -->
<!-- <span>uncultivated prompts will be replanted in 2 hours</span> -->
<!-- <div class="replanting"><span class="tip" title="If you want a particular question or challenge to stick around &#013;click on the marker to the left of the title to cultivate it">uncultivated</span> seeds will be replanted in 2 hours. <a href="/refresh">refresh now</a></a></div> -->
<!-- <span>uncultivated prompts will be replanted in 2 hours</span> -->

<div class="replanting">threads you've participated in...</div>

<main>
	{{ range $index, $thread := .Data.Threads }}
		<h2>
			<!-- <input id="seed{{ $thread.ID }}" type="checkbox" {{ if eq true true }} checked {{ end }} /> -->
			<!-- still need to get the likes and pass them into the template -->
			<!-- <a>
                <img class="chladni" style="object-fit: cover; object-position: 0% 0; width: 9px; height: 18px;" src="{{ $thread.UserPostCount | chladniUrl }}" title="cultivate" /><img class="chladni" style="object-fit: cover; object-position: 100% 0; width: 9px; height: 18px;" src="{{ $thread.PostCount | chladniUrl }}" title="cultivate" />
			</a> -->
			
			<a href="{{ $thread.Slug }}">{{ $thread.Title }}</a>
		</h2>
	{{ end }}
</main>

<!-- <script>
	function toggleLike(event) {
		let checkbox = this.previousElementSibling
		// prevent from following link when javascript is enabled
		event.preventDefault()
		checkbox.toggleAttribute('checked')

		// send like to server
		let cultivateURL = this.getAttribute('href')

		cultivateURL = cultivateURL.split('/')
		cultivateURL[3] = Number(checkbox.checked).toString()
		cultivateURL = cultivateURL.join('/')

		// console.log(cultivateURL)
		
		fetch(cultivateURL)

		return false
	}
</script> -->

<!-- {{ if .LoggedIn }}
<aside>
	<p> <a href="/seed/new">Plant a new seed</a></p>
</aside>
{{ end }} -->

{{ template "footer" . }}
