{{ template "head" . }}

<main>
	{{ $likes := .Data.Likes}}
	{{ $today := 0 }}
	{{ $week := 0 }}
	{{ range $index, $thread := .Data.Threads }}
		{{ $cultivated := false }}

		{{ if gt ($thread.LastEdit | formatDateTimeAsNumber) (minus (timeNow | formatDateTimeAsNumber) 86400000) }}
			{{ $today = add $today 1 }}
		{{ end }}

		{{ if gt ($thread.LastEdit | formatDateTimeAsNumber) (minus (timeNow | formatDateTimeAsNumber) 604800000) }}
			{{ $week = add $week 1 }}
		{{ end }}

		{{ range $index2, $likeid := $likes }}
			{{ if eq $thread.ID $likeid }}
				{{ $cultivated = true }}
			{{ end }}
		{{ end }}
		
		<h2>
			<input id="seed{{ $thread.ID }}" type="checkbox" {{ if eq $cultivated true }} checked {{ end }} />
			<!-- still need to get the likes and pass them into the template -->
			<a href="/seed/cultivate/{{ if $cultivated }}0{{else}}1{{end}}/{{ $thread.ID }}" onclick="toggleLike.bind(this)(event)">
				<img class="chladni" src="{{ $thread.PostCount | chladniUrl }}" title="cultivate" />
			</a>
			
			<a href="{{ $thread.Slug }}">{{ $thread.Title }}</a>
		</h2>
	{{ end }}

	<div class="recency-tracker week" style="width: {{ multiply $week 45 }}px;">This Week</div>
	<div class="recency-tracker today" style="width: {{ multiply $today 45 }}px;">Today</div>
</main>

<script>
	function toggleLike(event) {
		let checkbox = this.previousElementSibling
		// prevent from following link when javascript is enabled
		event.preventDefault()
		checkbox.toggleAttribute('checked')

		// send like to server
		let cultivateURL = this.getAttribute('href')

		cultivateURL = cultivateURL.split('/')
		cultivateURL[3] = Number(checkbox.checked).toString()
		cultivateURL = cultivateURL.join('/')

		// console.log(cultivateURL)
		
		fetch(cultivateURL)

		return false
	}
</script>

<!-- {{ if .LoggedIn }}
<aside>
	<p> <a href="/seed/new">Plant a new seed</a></p>
</aside>
{{ end }} -->

{{ template "footer" . }}
